div.maruku_toc ul li a {
  font-size: 1.3em;
  font-weight: bold;
  color: black;	
}

div.maruku_toc ul li ul {
	margin: 0 0 1em 0;
}

div.maruku_toc ul li ul li a {
  font-size: 1.1em;
  font-weight: normal;
  color: #222;
}

h1 {
   font: bold 2em "Lucida Grande", Verdana, sans-serif;
   color: #666;
   padding: .2em .2em;
   margin-left: .5em;
   margin-top: 2em;
 }

h2 {
   font: bold 1.4em "Lucida Grande", Verdana, sans-serif;
   padding: .2em .2em;
   border: 0;
   border-bottom: solid medium #a20017;
   background: none;
   margin-left: 1.3em;
 }

 h3 {
   font: bold 1.2em "Lucida Grande", Verdana, sans-serif;
   padding: .2em .2em;
   border: 0;
   border-bottom: solid thin #444;
   color: #a20017;
   background: none;
   margin-left: 1.8em;
 }

blockquote p {
	color: #666;
}