h1 {
  font: bold 1.4em "Lucida Grande", Verdana, sans-serif;
  padding: .2em .2em;
  border: 0;
  border-bottom: solid medium #a20017;
  background: none;
}

h2 {
  font: bold 1.2em "Lucida Grande", Verdana, sans-serif;
  padding: .2em .2em;
  border: 0;
  border-bottom: solid thin #444;
  color: #a20017;
  background: none;
  margin-left: 1.3em;
}

blockquote p {
	color: #666;
}