/*
 * Stylesheet for Selenium Grid website home page.
 */

h2 {
  background: none;
  border: 0;
  color:black;
  font: bold 2em "Lucida Grande", Verdana, sans-serif;
}

div.marketing-banner {
  margin: 1em 5em; 
  text-align: center
}

div.marketing-banner p {
  color: #333;
  font: 1.2em "Lucida Grande", Verdana, sans-serif;
  padding: 0 3em;
}

div.marketing-banner p.tagline {
  color: black;
  font: bold 1.7em "Chalkboard", "Georgia", serif;
  padding: 0;
}

div#news {
  text-align: center;
  margin: 0 30%;
}

div#news,
div#news a {
  color: #9f0118;
  font-weight: bold;
}

table#start-tracks {
  margin-bottom: 1em;
  border-spacing: .6em 1em;
}
   
table#start-tracks tr td {
  padding: .8em 1.2em 2em 1.2em;
  width: 14em;

  -moz-border-radius: .6em;
  -webkit-border-radius: .8em;
  border-radius: .8em;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5)
}

/* Color Scheme from http://www.colourlovers.com/palette/270694/The_Rainbow_Song_I */

table#start-tracks tr td#get-started {
  background: url("../images/background_started.png") repeat-x; 
}

table#start-tracks tr td#get-better {
  background: url("../images/background_better.png") repeat-x; 
}

table#start-tracks tr td#give-feedback {
  background: url("../images/background_feedback.png") repeat-x; 
}

table#start-tracks tr td#participate {
  background: url("../images/background_participate.png") repeat-x; 
}

table#start-tracks ul {
  list-style: none inside;
  margin: 0;
  padding: 0;
  text-align: center;
}

table#start-tracks tr td ul li {
  margin: .9em 0 0 0;
}

table#start-tracks tr td ul li a {
  color: #0E3062;
  font-size: 1em;
}

table#start-tracks tr td h2 {
  text-align: center;
  color: #9f0118;
  font-size: 1.1em;
  margin: 0 0 1em 0;
  padding: 0;
  text-shadow: .1em .1em .2em #888;
}

div.section {
  clear: both;
  margin: 0;
}
      
div.section h2 {
  float: left;
  width: 15%;
  border: 0;
  padding: 0;
  margin: 0 0em 2.5em 0;
  color: black;
  font: bold 1.3em "Lucida Grande", Verdana, sans-serif;
  background: none;
  text-shadow: .1em .1em .2em #222;
}

div.section div.content {
  float: left;
  width: 70%;
  border: 0;
  padding: 0;
  margin: 0 0 2em 0;     
  font-size: .9em;
}

div.section div.content p {
  margin-top: .3em;
}
