   body {
     font: 12pt "Lucida Grande", "Verdana", sans-serif;
   }

   h2 {
     background: none;
     border: 0;
     color:black;
     font: bold 2em "Lucida Grande", Verdana, sans-serif;
   }
   
   div.marketing-banner {
     margin: 1em 15%; 
     text-align: center
   }

   div.marketing-banner p {
     color: #444;
     font: 1.2em "Lucida Grande", Verdana, sans-serif;
     padding: 0 3em;
   }

   div.marketing-banner p.tagline {
     color: black;
     font: bold 2em "Chalkboard", "Georgia", serif;
     padding: 0;
   }

   table#start-tracks {
     margin-bottom: 3em;
     border-spacing: .6em 1em;
   }
      
   table#start-tracks tr td {
     padding: 2em 2em;
     width: 12em;
     text-align: center;

	 -moz-border-radius: .5em;
	 -webkit-border-radius: .5em;
	 border-radius: .5em;
	 -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5)
   }

   table#start-tracks tr td#get-started {
	background: #78BA91;
   }

   table#start-tracks tr td#get-better {
	background: #7389AE;
   }

   table#start-tracks tr td#give-feedback {
	background: #C17878;
   }

   table#start-tracks tr td#participate {
	background: #A87AAD;
   }

   table#start-tracks tr td a {
     color: #0E3062;
     font-size: 1.6em;
   }

   div.section {
     clear: both;
     margin: 0;
   }
         
   div.section h2 {
     float: left;
     width: 15%;
     border: 0;
     padding: 0;
     margin: 0 2em 2.5em 0;
     color: black;
     font: bold 1.4em "Lucida Grande", Verdana, sans-serif;
     background: none;
   }

   div.section div.content {
     float: left;
     width: 70%;
     border: 0;
     padding: 0;
     margin: 0 0 2em 0;     
     font-size: .9em;
   }

   div.section div.content p {
     margin-top: .3em;
   }
