/*
 * Global stylesheet for Selenium Grid website.
 */

body {
  font: 12pt "Lucida Grande", "Verdana", sans-serif;
  margin: 0;
  padding: 0;
}

div.header {
  text-align: center;
  font: bold 2em "Chalkboard", "Georgia", serif;
  padding: 0;
  margin: 1em 0 2.5em 0;
}

div.header a {
  border: 0;
}

div.header img {
  padding: 0;
  margin: 0 1em 0 0;
  vertical-align: middle;
  border: 0;
}

div.section {
  clear: both;
  margin: 1em;
}
         
div.section h2 {
  float: left;
  width: 15%;
  border: 0;
  padding: 0;
  margin: 0 2em 2.5em 0;
  color: black;
  font: bold 1.4em "Lucida Grande", Verdana, sans-serif;
  background: none;
  text-shadow: .1em .1em .2em #222;
}

div.section div.content {
  float: left;
  width: 70%;
  border: 0;
  padding: 0;
  margin: 0 0 2em 0;     
}

div.section div.content p {
  margin-top: .3em;
}

p.note {
 background: #ffffa6;
 padding: .6em .8em;
 border: thin solid #9c9c4e;
}

.todo {
  color: red;
  background: yellow;
  padding: .5em;
}
 
